<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main}">
	<main layout:fragment="content">
		<h1 th:text="${siteTitle}" class="main_tit"></h1>
		
		<form method="post" th:action="@{/member/join}" th:object="${member}">
			<div class='error' th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>
		
			<input type="text" name="userId" placeholder="아이디 입력"  th:field="*{userId}">
			<div class="error" th:each="err : ${#fields.errors('userId')}" th:text="${err}"></div>
			
			<input type="password" name="userPw" placeholder="비밀번호 입력" th:field="*{userPw}">
			<div class="error" th:each="err : ${#fields.errors('userPw')}" th:text="${err}"></div>
			
			<input type="password" name="userPwRe" placeholder="비밀번호 확인" th:field="*{userPwRe}">
			<div class="error" th:each="err : ${#fields.errors('userPwRe')}" th:text="${err}"></div>
			
			<input type="text" name="userNm" placeholder="회원명 입력" th:field="*{userNm}">
			<div class="error" th:each="err : ${#fields.errors('userNm')}" th:text="${err}"></div>
			
			<input type="text" name="email" placeholder="이메일 입력" th:field="*{email}">
			<div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
			
			<div class='agree_terms'>
				<input type='checkbox' name='agree' value='true'>
				회원가입 약관에 동의합니다.
				<div class="error" th:each="err : ${#fields.errors('agree')}" th:text="${err}"></div>
			</div>
			
			<div class='btns'>
				<button type="reset">다시입력</button>
				<button type="submit">가입하기</button>
			</div>
		</form>
		
	</main>		
</html>