@charset "utf-8";

/*───────────────────────────────────────────────────────────

	 공통

───────────────────────────────────────────────────────────*/


/* 더보기 */
.more_btn {
	display: inline-block;
	width: 100%;
	padding: 10px 0 10px 0;
	text-align: center;
	background: #ffffff;
	border: 1px solid #9f9f9f;
	color: #494949;
	font-weight: bold;
	box-sizing: border-box;
	font-size: 15px;
}


/* 이전 */
.all_page_prev {
	display: inline-block;
	padding: 20px;
	font-size: 0;
	background: url('../img/icon/icon_mid_arrow.png') no-repeat center;
	background-size: 10px;
}


/* 로그인 / 주문조회 / 비회원 주문하기 버튼  */

.member_login_order_btn {
	width: 100%;
	display: block;
	height: 45px;
	border: 0;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	background-color: #8769f0;
	border-radius: 3px;
	text-align: center;
}

/*** 아이디 찾기 | member/find_id.html ***/

.find_id_btn {
	display: block;
	width: 100%;
	height: 45px;
	text-align: center;
	border: 0;
	border-radius: 3px;
	background-color: #333333;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
}


/*** 비밀번호 찾기 | member/find_id.html ***/

.find_password_btn {
	display: block;
	width: 100%;
	height: 45px;
	text-align: center;
	border: 0;
	border-radius: 3px;
	background-color: #333333;
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
}

/*** 확인 | member/join.html & member/join_wait.html ***/

.join_ok_btn {
	width: 100%;
	height: 45px;
	border: 0;
	background-color: #8769f0;
	color: #ffffff;
	font-size: 15px;
	font-weight: 600;
	border-radius: 3px;
	cursor: pointer;
}


/*** 본인인증 인증번호 확인 | member/user_certification.html ***/

/*** 본인인증 인증번호 확인 | member/user_certification_confirm.html  /  비밀번호변경 확인 | member/find_password_reset.html***/

/*** 패스워드 찾기 로그인하기 | member/find_password_complete.html ***/

/*** 휴면회원 | member/wake.html ***/

/*** 휴면회원 해제 인증 | member/wake_certification.html ***/

/*** 회원가입완료 | member/join_ok.html ***/

/*───────────────────────────────────────────────────────────

	 마이페이지 관련

───────────────────────────────────────────────────────────*/

/*** 주문 목록 / 배송 조회 | mypage/order_list.html ***/

/* 반품/환불/교환 사유 */


/* 리뷰쓰기 */



/*** 마이페이지 | /mypage/index.html ***/
/* 정보 수정 */


/*** 주문내역 상세보기  | /mypage/order_view.html ***/

/* 장바구니 담기 */


/*** 쿠폰  | /mypage/coupon.html ***/


/*** 예치금  | /mypage/deposit.html ***/

/*** 배송지 관리 | mypage/shipping.html ***/
/* 기본배송지 설정 */

/* 수정 */


/* 배송지 추가 */


/*** 배송지 등록 | mypage/layer_shipping_address_regist.html ***/
/* 취소 */

/* 저장 */




/*** 회원 비밀번호 검증 | mypage/my_page_password.html ***/
/* 인증하기 */


/*** 회원정보 변경  | mypage/my_page.html ***/
/* 비밀번호 변경 */


/* 연결 해제 */


/*** 발송지연 사유 레이어 | mypage/layer_order_naverpay_reason.html ***/


/*** 교환신청 레이어 | mypage/layer_order_exchange_regist.php ***/
/* 취소 */

/* 저장 */


/*** 반품신청 레이어 | mypage/layer_order_back_regist.php ***/
/* 취소 */

/* 저장 */


/*** 환불신청 레이어 | mypage/layer_order_refund_regist.php ***/
/* 취소 */

/* 저장 */


/*** 사유 레이어 | mypage/layer_order_refund_reason.php ***/
/* 확인 */


/*** 배송방식 레이어 | mypage/layer_order_delivery_method.php ***/
/* 확인 */


/*───────────────────────────────────────────────────────────

	 상품 관련

───────────────────────────────────────────────────────────*/

/* 상단 INFO */
.detail_tab_info_btn {
	display: inline-block;
	width: 42px;
	height: 42px;
	background: url('../img/btn/btn_detail_info.png') no-repeat center;
	background-size: 100%;
	border: none;
	font-size: 0;
}

/* 상단 INFO _on */
.detail_tab_info_btn_on {
	display: inline-block;
	width: 42px;
	height: 42px;
	background: url('../img/btn/btn_detail_info_on.png') no-repeat center;
	background-size: 100%;
	border: none;
	font-size: 0;
}

/* 쿠폰 받기 */


/* 쿠폰 받기 */


/* 기본정보 쿠폰받기 */


/*** 상품상세 게시글 상세 | goods/layer_option.html ***/


/* 장바구니 */


/* 구매불가 */


/* 바로구매 */


/* 바로구매 */


/* 재입고알림 */


/* 앱으로구매하기 */


/* 쿠폰적용 */

/* 수량감소 */


/* 수량증가 */


/* 삭제 */


/* URL 복사 */


/* 상세 글쓰기 */

/* 상품상세 게시판 더보기 */


/* 작성내용 더보기 */


/* 작성내용 더보기 오버시 */


/*** 상품상세 게시글 상세 | goods/goods_board/view.html ***/
/* 수정 */


/* 삭제 */


/* 답글 */


/* 작성완료 */

/* 추천 */



/* 비밀번호 입력*/


/*** 쿠폰적용 레이어 | goods/layer_coupon_apply.html ***/


/* 쿠폰 취소 */


/* 쿠폰 변경 */



/*** 쿠폰다운받기 레이어 | goods/layer_coupon_down.html ***/
/* 전체 다운로드 */

/* 다운로드 */


/* 발급불가 */


/* 발급완료 */



/*** 최근본상품 | /goods/goods_today.html ***/

/* 선택삭제1 */
/* 선택삭제2 */




/* 장바구니 담기 */



/*** 장바구니 | /order/cart.html ***/

/* 선택삭제1 */


/* 선택삭제2 */



/* 쿠폰 적용 */


/* 쿠폰 변경 */


/* 쿠폰 취소 */


/* 옵션 변경 */


/* 선택상품 삭제 */


/* 선택상품 주문 */


/* 전체주문  */


/*** 쿠폰적용 레이어 | order/layer_coupon_apply.html ***/
/* 쿠폰 사용하기 */


/*** 주문서 작성  | order/order.html ***/
/* 우편번호 */


/* 배송지 목록 */

/* 배송지 목록 ON */
/* 배송지 추가 */


/* 쿠폰 조회 및 적용 */


/* 결제하기 */

/*** 주문 완료  | order/order.html ***/
/* 홈으로 가기 */

/* 나의 주문 확인하기 */



/*** 상품리스트 | goods/goods_list.php ***/
/* 추천상품 더보기  */

/*** PG사 결제 페이지 호출 | order/pg_gate.php ***/
/*결제창 열기*/

/*결제 취소*/



/*장바구니 이동*/


/*───────────────────────────────────────────────────────────

	 게시판

───────────────────────────────────────────────────────────*/

/*** 작성 | board/write.html ***/
/* 취소 */


/* 저장 */


/* 이미지 새로고침 */


/* 상품선택& 주문선택 버튼*/
/** .prd_select_btn {display:inline-block; padding:5px 10px 5px 10px; text-align:center; background:#ab3e55; border:1px solid #ab3e55; color:#ffffff; font-weight:bold; box-sizing:border-box; font-size:13px;} */


/*** 상품 검색하기 레이어 | share/layer_goods_select.html ***/
/* 검색 */



/* 선택 */


/* 더보기 */


/*** 리스트 | board/list.html ***/
/* 검색 */

/* 공통 비밀번호 확인 list,view */
/* 비밀번호 확인 */


/***  뷰 | board/view.html ***/
/* 댓글 추천 */


/* 댓글 작성 */


/* 상단 추천 */


/* 글 답변 */


/* 글 수정 */


/* 글 삭제 */


/* 댓글에 댓글 */



/* 댓글 수정 */


/* 댓글 삭제 */



/*───────────────────────────────────────────────────────────

	 메인

───────────────────────────────────────────────────────────*/

/***  기획전 리스트 | goods/_goods_display_main.html ***/
/* 기획전 페이지 이동 더보기 */


/* 하단 더보기 */


/***  기획전 상세  리스트 | /goods/goods_main.html ***/
/* 더보기 */


/***  기획전 상세  리스트 | /goods/goods_recom.html ***/
/* 더보기 */



/*───────────────────────────────────────────────────────────

	 서비스

───────────────────────────────────────────────────────────*/

/* 검색 */


/* 더보기 */


/* 설문조사 이전 */

/* 설문조사 다음 */

/* 설문조사 완료 */


/* 설문조사 홈 */



/*───────────────────────────────────────────────────────────

	 인트로

───────────────────────────────────────────────────────────*/

/* 로그인 / 주문조회 / 비회원 주문하기 버튼  */

/* 19세 미만 나가기 버튼 */

/* 휴대폰 인증 & 아이핀 인증 */

/* 주문취소 사유 버튼 */
