@charset "utf-8";

/*───────────────────────────────────────────────────────────

	 공통

───────────────────────────────────────────────────────────*/


.input_wrap input[type='text'],
.input_wrap input[type='password'] {
    width: 100%;
    margin-bottom: 10px;
    height: 45px;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    font-size: 13px;
    padding: 0 10px;
}

.input_wrap input[type='text']:read-only,
.input_wrap input[type='password']:read-only {
    background-color: #f7f7f7;
}



/*** 회원로그인 | member/join_agreement.html ***/
/* 체크 박스 */
.login {
    background-color: #ededed;
}

.login fieldset legend {
    font-size: 17px;
    color: #333333;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 19px;
}

.login .login_box {
    padding: 30px 15px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #dfe1e5;
    margin-bottom: 10px;
}

.login .login_box #loginId,
.login .login_box #loginPwd {
    border: 1px solid #e5e5e5;
    width: 100%;
    height: 45px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 3px;
}

.login .login_box #loginId {
    margin-bottom: 10px;
}

.login .login_box #loginPwd {
    margin-bottom: 15px;
}

.login .login_box .submit {
    margin-top: 25px;
}

.login .login_box .inp_chk label {
    margin-right: 15px;
    font-size: 12px;
    color: #212121;
}



/* 회원가입/아이디찾기/비밀번호 */

.login .login_find {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.login .login_find * {
    line-height: 1;
}

.login .login_find a {
    color: #212121;
    font-size: 12px;
    padding: 0 15px;
}

.login .login_find li {
    position: relative;
}

.login .login_find li:before {
    width: 1px;
    height: 11px;
    display: block;
    content: '';
    background-color: #212121;
    position: absolute;
}

.login .login_find li:first-child:before {
    display: none;
}

/* SNS 로그인 (페이스북/ 페이코 / 네이버) */


.login .sns_login_wrap {
    background-color: #ffffff;
    padding: 30px 15px 45px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dfe1e5;
}

.login .sns_login_wrap .tit {
    font-size: 17px;
    color: #333333;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 20px;
}

.login .sns_login_wrap .sns_login {
    display: flex;
    justify-content: space-between;
}

.login .sns_login_wrap .sns_login li {
    flex-grow: 1;
    width: 0;
}

.login .sns_login_wrap .sns_login li img {
    width: calc(100% - 10px);
    max-width: 230px;
    display: block;
}


/* 비회원 주문조회 */


.login .guest_order_box {
    background-color: #ffffff;
    padding: 30px 15px 45px;
}

.login .guest_order_box fieldset legend {
    display: none;
}

.login .guest_order_box .guest_txt {
    margin-bottom: 8px;
}

.login .guest_order_box .guest_txt strong {
    font-size: 17px;
    color: #333333;
    font-weight: 700;
    line-height: 1;
}

.login .guest_order_box .sub_txt {
    color: #8b8b8b;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 15px;
}

.login .guest_order_box #orderNm,
.login .guest_order_box #orderNo {
    width: 100%;
    display: block;
    border: 1px solid #e5e5e5;
    height: 45px;
    border-radius: 3px;
    padding: 0 10px;
    font-size: 13px;
}

.login .guest_order_box #orderNm {
    margin-bottom: 10px;
}

.login .guest_order_box #orderNo {
    margin-bottom: 15px;
}

.login .guest_order_box .member_login_order_btn:not(.bg) {
    border: 1px solid #8769f0;
    background-color: #ffffff;
    color: #8769f0;
}

/*** 휴면회원 | member/wake.html ***/




/* layer popup */


    /* popup */

    /* layer popup */


/** 위메프 아이디 로그인 약관 팝업 css **/

/* 아이디 찾기 이메일 */


/* 회원가입 이메일 */


/* 휴먼회원 이메일 */


/** 휴면회원 방지기간 **/


/* 비밀번호 변경 */


